#orcamento {
  background: linear-gradient(#111111 600px, #111111 1px);
}
.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}
.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}
.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: #ffbb00;
  position: absolute;
  left: -12px;
}
.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.orcamento-produto {
  border-radius: 5px 0 0 5px;
  background: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}
.orcamento-produto > * {
  grid-column: 1/-1;
}
.orcamento-produto > label {
  grid-column: initial;
}
.orcamento-produto label {
  font: 500 1rem/1.5 "Poppins", sans-serif;
  color: #cccccc;
  background: #2e2e2e;
  display: block;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.orcamento-produto input:checked + label {
  background: #ffffff;
  color: #000000;
}
.orcamento-dados {
  border-radius: 0 5px 5px 0;
  background: #ffffff;
}
#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: block;
}
